@(ranking1:Overallranking,ranking2:Overallranking)
<table>
	<tr>
		<td>
			<div style="width: 100%; height: 30px">
				<table>
					<tr>
						<td><div style="float: left; width: 300px">Fairness and
								help:</div></td>
						<td><input id="input-1" name="fair" value="@ranking1.fair"
							class="rating" data-readonly="true" data-min="0" data-max="5"
							data-step="0.5" data-size="xs"></td>
					</tr>
				</table>
			</div>

			<div style="width: 100%; height: 30px">
				<table>
					<tr>
						<td><div style="float: left; width: 300px">Material und
								understanding:</div></td>
						<td><input id="input-3" name="material"
							value="@ranking1.material" class="rating" data-min="0"
							data-readonly="true" data-max="5" data-step="0.5" data-size="xs"></td>
					</tr>
				</table>
			</div>

			<div style="width: 100%; height: 30px">
				<table>
					<tr>
						<td><div style="float: left; width: 300px">fun and
								level of interest:</div></td>
						<td><input id="input-4" name="fun" value="@ranking1.fun"
							class="rating" data-min="0" data-readonly="true" data-max="5"
							data-step="0.5" data-size="xs"></td>
					</tr>
				</table>
			</div>

			<div style="width: 100%; height: 30px">
				<table>
					<tr>
						<td><div style="float: left; width: 300px">grade and
								effort:</div></td>
						<td><input id="input-2" name="grade" value="@ranking1.grade"
							class="rating" data-min="0" data-readonly="true" data-max="5"
							data-step="0.5" data-size="xs"></td>
					</tr>
				</table>
			</div>

			<div style="width: 100%; height: 30px">
				<table>
					<tr>
						<td><div style="float: left; width: 300px">recommendation:</div></td>
						<td><input id="input-2" name="recommend"
							value="@ranking1.recommend" class="rating" data-min="0"
							data-readonly="true" data-max="5" data-step="0.5" data-size="xs"></td>
					</tr>
				</table>
			</div>

			<div style="width: 100%; height: 30px">
				<p class="text-title">Overall Rate: @ranking1.overall_rate</p>
				<a style="float:right;" href="@routes.Application.viewCourse(ranking1.course.id)">More Details</a>
			</div>
		</td>
		<td>

			<div style="width: 100%; height: 30px">
				<table>
					<tr>
						<td><div style="float: left; width: 300px">Fairness and
								help:</div></td>
						<td><input id="input-1" name="fair" value="@ranking2.fair"
							class="rating" data-min="0" data-readonly="true" data-max="5"
							data-step="0.5" data-size="xs"></td>
					</tr>
				</table>
			</div>

			<div style="width: 100%; height: 30px">
				<table>
					<tr>
						<td><div style="float: left; width: 300px">Material und
								understanding:</div></td>
						<td><input id="input-3" name="material"
							value=@ranking2.material class="rating" data-min="0"
							data-readonly="true" data-max="5" data-step="0.5" data-size="xs"></td>
					</tr>
				</table>
			</div>

			<div style="width: 100%; height: 30px">
				<table>
					<tr>
						<td><div style="float: left; width: 300px">fun and
								level of interest:</div></td>
						<td><input id="input-4" name="fun" value="@ranking2.fun"
							class="rating" data-min="0" data-readonly="true" data-max="5"
							data-step="0.5" data-size="xs"></td>
					</tr>
				</table>
			</div>

			<div style="width: 100%; height: 30px">
				<table>
					<tr>
						<td><div style="float: left; width: 300px">grade and
								effort:</div></td>
						<td><input id="input-2" name="grade" value="@ranking2.grade"
							class="rating" data-min="0" data-readonly="true" data-max="5"
							data-step="0.5" data-size="xs"></td>
					</tr>
				</table>
			</div>

			<div style="width: 100%; height: 30px">
				<table>
					<tr>
						<td><div style="float: left; width: 300px">recommendation:</div></td>
						<td><input id="input-2" name="recommend"
							value="@ranking2.recommend" class="rating" data-min="0"
							data-readonly="true" data-max="5" data-step="0.5" data-size="xs"></td>
					</tr>
				</table>
			</div>



			<div style="width: 100%; height: 30px">
				<p class="text-title">Overall Rate: @ranking2.overall_rate</p>
				<a style="float:right;" href="@routes.Application.viewCourse(ranking2.course.id)">More Details</a>
			</div>
		</td>
	<tr>
</table>
