@(student: Student , courses: List[Course],jobs:List[Job])(body: Html)

<html>

<style>

#menu_container{
	position: relative;
	margin-top:4%;
	width:50%;
}

.nav > li {
   width: 220px !important;
  text-align: center !important;
}

.text-title{
	font-style:italic;
	text-decoration: underline;
}


</style>




    <head>
        <title>CourseMatch</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-play-1.7.1.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/underscore-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/backbone-min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script>
        
          <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    </head>
    <body>
       
        <header style="padding-top: 12px">
            
            <a href="" id="logo"> 
             <img src="@routes.Assets.at("images/logo-white.png")" height="26px">
            </a>
            
            <dl id="user" >
                <dt style="padding-top: 10px">
                 @student.name <span>(@student.email)</span></dt>
                <dd>
                  <a class="glyphicon glyphicon-off logout" href="@routes.Application.logout()" style="padding: 8px 5px;"> 
                   <b style="font-family:arial; font-size: 14px"> Logout </b>
                  </a>    
                </dd>
            </dl>
        </header>
        
        
		<nav>
		    <div style="padding: 10px 0 0 15px">
		     <img src="@routes.Assets.at("images/TU_Muenchen_Logo.svg.png")" height="60px">
		    </div>
		
		    <div style="padding: 10px 0 0 0px">
             <h4 class="dashboard">
                Courses
             </h4>
             <ul class="navlist">
              <li><a href="course/1">Introduction to software Eng.</a></li>
              <li><a href="course/1">Introduction to software Eng.</a></li>
              <li><a href="course/1">Introduction to software Eng.</a></li>
              <li><a href="course/1">Introduction to software Eng.</a></li>
              <li><a href="course/1">Introduction to software Eng.</a></li>
              <li><a href="course/1">Introduction to software Eng.</a></li>
             </ul> 
            </div>
            
            <div style="padding: 10px 0 0 0px">
             <h4 class="dashboard">
                Favorites
             </h4>
             <ul class="navlist">
              <li><a href="course/1">Introduction to software Eng.</a></li>
              <li><a href="course/1">Introduction to software Eng.</a></li>
              <li><a href="course/1">Introduction to software Eng.</a></li>
             </ul> 
            </div>
  
        </nav>
        
		
		<div>
        
        <section>
            @body
        </section>
		
		
		</div>
    </body>
</html>

