@(student: Student , courses: List[Course],jobs:List[Job],course_tags:String,job_tags:String)(body: Html)

<html>

<style>

#menu_container{
	position: relative;
	margin-left: 360px;   //not 450px please
}

.nav > li {
   width: 220px !important;
  text-align: center !important;
}

.text-title{
	font-style:italic;
	text-decoration: underline;
}


</style>




    <head>
        <title>CourseMatch</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/tags.css")">

        
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.2/css/bootstrap-select.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.2/css/bootstrap-select.min.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/tokenfield-typeahead.css">
          
               <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-2.1.4.min.js")"></script>
               <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.dataTables.js")"></script>
               <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")"></script>
               
                <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/star-rating.css")">
                <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/star-rating.min.css")">
        <script  src="@routes.Assets.at("javascripts/tags.js")"></script>
        <script src="@routes.Assets.at("javascripts/star-rating.js")"></script>
        <script src="@routes.Assets.at("javascripts/star-rating.min.js")"></script>
  		
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  		<script src="http://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
  		<script src="http://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.2/js/bootstrap-select.js"></script>
    </head>
    <body>
       
        <header style="padding-top: 12px; position:fixed">
			
			
			 
            <a href="@routes.Application.dashboard()" id="logo"> 
             <img src="@routes.Assets.at("images/logo-white.png")" height="26px">
            </a>
            
		<button class="btn btn-danger" style="float: right;
  											  left: -355px;
  											   position: relative;" type="button" 
  		data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			 Recommendation Tags</button>
            <dl id="user" >
                <dt style="padding-top: 10px">
                 @student.name <span>(@student.email)</span></dt>
                <dd>
                  <a class="glyphicon glyphicon-off logout" href="@routes.Application.logout()" style="padding: 8px 5px;"> 
                   <b style="font-family:arial; font-size: 14px"> Logout </b>
                  </a>    
                </dd>
            </dl>
        </header>
        
        
		<nav>
		    <div style="padding: 10px 0 0 15px">
		     <img src="@routes.Assets.at("images/TU_Muenchen_Logo.svg.png")" height="60px">
		    </div>
		
		    <div style="padding: 10px 0 0 0px">
             <h4 class="dashboard">
                Courses
             </h4>
             <ul class="navlist">
              <li><a href="course/1">Introduction to software Eng.</a></li>
              <li><a href="course/1">Introduction to software Eng.</a></li>
              <li><a href="course/1">Introduction to software Eng.</a></li>
              <li><a href="course/1">Introduction to software Eng.</a></li>
              <li><a href="course/1">Introduction to software Eng.</a></li>
              <li><a href="course/1">Introduction to software Eng.</a></li>
             </ul> 
            </div>
            
            <div style="padding: 10px 0 0 0px">
             <h4 class="dashboard">
                Favorites
             </h4>
             <ul class="navlist">
              <li><a href="course/1">Introduction to software Eng.</a></li>
              <li><a href="course/1">Introduction to software Eng.</a></li>
              <li><a href="course/1">Introduction to software Eng.</a></li>
             </ul> 
            </div>
  
        </nav>
        
		
		<div>
        <div class="collapse" id="collapseExample" style="   position: fixed;
													  right: 0;
													  z-index: 100;
													  top: 50px;
													  width: 540px;">
			  <div class="well">
			  <form action="@routes.Application.saveStudentTags()">
				 <div class="well">
				 <p> Courses Recommendation Tags:<p>
				 <input name="course_tags" type="text" class="form-control" id="ct" value="@course_tags" />
	 			 <p> Jobs Recommendation Tags :<p>
				 <input name="job_tags" type="text" class="form-control" id="jt" value="@job_tags" />
	 			 </div>
	 			 <button type="submit" style="  width: 100%;
  					"class="btn btn-danger">Submit</button>
	 			 </div>
 			 </form>
 		</div>
        <section>
      <ul class="breadcrumb" style="margin-top:52px;margin-left:218px">
      <li><a href="@routes.Application.dashboard()">Dashboard</a> <span class="divider">/</span></li>
		<li><a href="@routes.Application.compareCourses()">CompareCourses</a> <span
			class="divider"></span></li>
    </ul>
            @body
        </section>
		
		
		</div>
    </body>
 <script>
				  $('#ct').tokenfield();
				  $('#jt').tokenfield();
				  
			  </script>
</html>

